---
import ExperienceItem from "./ExperienceItem.astro";
import { experience } from "@/data/experience";
---

<ol class="relative mt-8">
  {
    experience.map((item, index) => (
      <li>
        <ExperienceItem 
          date={item.date}
          title={item.title}
          company={item.company}
          description={item.description}
          link={item.link}
          isLast={index === experience.length - 1}
        />
      </li>
    ))
  }
</ol>