---
import ProjectCard from "./ProjectCard.astro";
import LinkInline from "./LinkInline.astro";
import { projects } from "@/data/projects";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
  {
    projects.map((project, index) => (
      <ProjectCard
        title={project.title}
        description={project.description}
        image={project.image}
        tags={[...project.tags]}
        link={project.link}
        github={project.github}
        index={index}
      />
    ))
  }
</div>

<div class="flex justify-center mt-10">
  <LinkInline href="https://github.com/Yeisonfjrd">
    Ver más proyectos en GitHub →
  </LinkInline>
</div>
